:root {

  background-color: #ffffff;


}

#camion-container{
    background-color: #ededed;
    padding: 7px;
    display: flex;
    
    justify-content: center;

}

nav {
    background-color: rgba(93, 109, 112, 0.471);
    justify-content: center;
    display: flex;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.536);

    
}
  

#search {

}