.brand-icon {
    max-width: 45px;
    max-height: 45px;
    background-color: rgb(255, 255, 255);
    display: inline-block; /* Cambiar a inline-block */
    padding: 3px;
    border: 1px 1px black;
    
    
}

#brand-container {
    display: flex; /* Añadir flexbox */
    justify-content: space-between; /* Distribuir espacio entre los elementos */
    align-items: center; /* Centrar los elementos verticalmente */
    background-color: rgb(255, 255, 255); /* Añadir un color de fondo para el contenedor */
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.536);
    
}

.brand-icon:hover{
    object-fit: cover; /* Recorta las partes blancas */
    display: inline-block;
    max-width: 150px;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.336);
    border-radius: 20px;
    zoom: 1;
    cursor: grab;

} 