
#contenido {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    grid-template-columns: repeat(2, 0fr);
    gap: 13px;
}

.card {
    
    margin-top: 20px;
  
}